.navbar {
  display: flex;
  justify-content: center;
  position: relative; /* for the logo specifically */
  /* border-bottom: solid; */
}

.navbar-logo {
  top: 5;
  right: 50%;
}

.navlink-text {
  /* border-style: dotted; */
  color: black;
  text-decoration: none;
  padding: 0 5px;
  margin: 20px;
  transition: color 0.3s linear;
}

.navlink-text:hover {
  color: gray;
}
